

.contact {
	background: #43a16f;
	border: 1px groove 6;
	border-radius: 5px 5px 0 0;
	color: #edf292;
	padding: 10px 20px;
	margin: 20px 70% 10px 5px;
	font-family: georgia;
}

a {
	margin: 10px;
	color: black;
}



h3 {
	font-family: georgia;
	color: #43a16f;
	margin: 20px;
}


iframe {
	float: right;
	margin: 20px;
	
}


.block {
	background: #43a16f;
	border: 9px dashed 6;
	border-radius: 5px 5px 0 0;
	color: #687D6D;
	padding: 10px 20px;
	margin: 20px 70% 5px 5px;
}

.form-group {
	background: #9bb484;
	color: #3cb2a8;
	padding: 10px 20px;
	margin: 20px 70% 5px 5px;
}

span {
	color: black;
}

script {
	width: 20px;
}

body {
	width: 102%;
}